{% extends "base2.html" %}
{% load static %}

{% block header %}
<style>
#table_list_hosts tbody tr.selected td {background-color:#B0BED9}
#table_list_hosts tbody tr.odd.selected td {background-color:#acbad4}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Open Ignore Requests</h2>all open ignore requests found ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}
<div>
<table id="table_list_ignore" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>Host</th>
        <th>Vulnerability</th>
        <th>Reason</th>
        <th>Request Date</th>
        <th>Approved</th>
        <th>Operations</th>
    </thead>
</table>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}
<script type="text/javascript" language="javascript" class="init">
    $(document).ready( function () {
    var pTable = $('#table_list_ignore').DataTable({
        processing: true, serverSide: true, pageLength: 25, select: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[ 4, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/v1/ignore/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        "rowCallback": function( row, data, index ) {},
        columns: [
            {'data': 'host_name', 'sName': 'Host', 'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    var view_url = "{% url 'hosts:view_host' hostid=0 %}".replace(0, full.host);
                    return '<div rel="tooltip" data-placement="top" data-original-title="'+full.host_name+'"><a href="'+view_url+'">'+full.host_name+'</a></div>';
                },
            },
            {'data': 'vuln', 'sName': 'Vulnerability', 'aTargets': [ 2 ],
                "mRender": function (data, type, full) {
                    var view_url = "{% url 'findings:view_finding' findingid=0 %}".replace(0, full.finding);
                    return '<div rel="tooltip" data-placement="top" data-original-title="'+full.vuln+'"><a href="'+view_url+'">'+data+'</a></div>';
                },
            },
            {'data': 'reason', 'sName': 'Reason', 'aTargets': [ 3 ]},
            {'data': 'created', 'sName': 'Request Date', 'aTargets': [ 5 ]},
            {'data': 'approved', 'sName': 'Approved', 'aTargets': [ 6 ]},
            {'data': 'ops', 'sName': 'Operations', 'aTargets': [ 7 ],
                "mRender": function (data, type, full) {
                    var reject_url = "{% url 'exceptions:reject_ignore_request' ignoreid=0 %}".replace(0, full.id)
                    var accept_url = "{% url 'exceptions:grant_ignore_request' ignoreid=0 %}".replace(0, full.id)
                    return '<a href="'+accept_url+'"><span class="glyphicon glyphicon-ok-circle" style="padding-left:8px"></span></a>' +
                        '<a href="'+reject_url+'"><span class="glyphicon glyphicon-remove-circle" style="padding-left:8px"></span></a>'
                },
            },
        ]
    });
});
</script>
{% endblock%}
