#main
{
    margin-top: 40px;
}

.tooltip-inner {
    max-width: 600px !important;
    /* If max-width does not work, try using width instead */
    width: auto; 
}

/** SSDeep Graph Styles **/

.link-label {
    font: 10px sans-serif;
}

/** TimeSeries Styles **/

.domain {
    display: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick line {
    stroke: #d5d5d5;
    opacity: 0.7;
}

.circleText {
    font: 10px sans-serif;
    text-align: left;
}

/* The default width is set to 600px, some text was overflowing there */
@media (min-width:992px) {
    .modal-dialog {
        width: 900px;
        margin: 30px auto
    }
}

.status-finished {
    color: green;
}

.status-failed {
    color: red;
}